# Exercícios

## Sistemas de Recomendação

Para esse conjunto de exercícios vamos utilizar novamente o dataset MovieLens 100k que utilizamos em nosso Warmup. Utilizando esse Dataset, implemente as funcionalidades a seguir, podendo agora utilizar as bibliotecas padrões do python (numpy, math, scipy ) para implementar suas soluções. Faça a organização do seu código agora utilizando funções buscando reutilizar seu código.

## Funcionalidade:

1. Implementar o algoritmo de Similaridade do Cosseno;
2. Implementar um Sistema de Recomendações, usando a técnica de Filtros Colaborativos baseados no usuário;
3. Implementar um Sistema de Recomendações, usando a técnica de Filtros Colaborativos baseados na similaridade entre os itens (filmes);
4. Implementar a Medida de Correlação de Pearson como medida de similaridade;

In [1]:
# imports necessários

import pandas as pd
import numpy as np
from scipy import spatial
from numpy import dot
from numpy.linalg import norm
import seaborn as sns
from scipy import stats

### 1. Implementar o algoritmo de Similaridade do Cosseno;

$$ cos\_sim(x, y) = \frac{x \cdot y}{\| x \| \cdot \| y \|} $$

In [2]:
# utilizando scipy 

def similaridade_cosseno_scipy(list1, list2):
    result = 1 - spatial.distance.cosine(list1, list2)
    return result

In [3]:
def similaridade_cosseno_numpy(list1, list2):
    result = dot(list1, list2) / (norm(list1) * norm(list2))
    return result

### 2. Implementar um Sistema de Recomendações, usando a técnica de Filtros Colaborativos baseados no usuário;

In [4]:
# Carregando o dados do arquivo u.data

data = pd.read_csv(r'/home/hub/Downloads/ml-100k/u.data', sep="\t", names=['user_id', 'movie_id', 'rating', 'timestamp'])
data

       user_id  movie_id  rating  timestamp
0          196       242       3  881250949
1          186       302       3  891717742
2           22       377       1  878887116
3          244        51       2  880606923
4          166       346       1  886397596
...        ...       ...     ...        ...
99995      880       476       3  880175444
99996      716       204       5  879795543
99997      276      1090       1  874795795
99998       13       225       2  882399156
99999       12       203       3  879959583

[100000 rows x 4 columns]

In [5]:
# Informações sobre os filmes

# duvida sobre o 'encoding', se não utilizar, da error

info_data = pd.read_csv(r'/home/hub/Downloads/ml-100k/u.item', sep="|", encoding='latin-1', names = ['movie_id', 'movie_title' ,'release_date','video_release_date', 'IMDb_URL', 'unknown', 'Action', 
                'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film_Noir', 
                'Horror', 'Musical', 'Mystery', 'Romance', 'Sci_Fi', 'Thriller', 'War', 'Western'])
info_data.drop(columns=['video_release_date', 'IMDb_URL'], inplace=True)
info_data

# Em relação aos generos dos filmes, 1 significa True, 0 False.

,movie_id,movie_title,release_date,unknown,Action,Adventure,Animation,Childrens,Comedy,Crime,...,Fantasy,Film_Noir,Horror,Musical,Mystery,Romance,Sci_Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# função para ver as notas de um usuario

def notas_do_usuario(usuario):
  notas_do_usuario = data.query("user_id==%d" % usuario)
  notas_do_usuario = notas_do_usuario[["movie_id", "rating"]].set_index("movie_id")
  return notas_do_usuario

In [7]:
notas_do_usuario(1)

          rating
movie_id
61             4
189            3
33             4
160            4
20             4
...          ...
28             4
172            5
122            3
152            5
94             2

[272 rows x 1 columns]

In [8]:
# Calcula a similaridade dos cosseno entre um usuario e outro (inserir user_id)
# minimo é a quantidade minima de filmes em comum

def similaridade_de_usuarios(usuario_id1, usuario_id2, minimo = 5):
  notas1 = notas_do_usuario(usuario_id1)
  notas2 = notas_do_usuario(usuario_id2)
  join_notas1_2 = notas1.join(notas2, lsuffix="_esquerda", rsuffix="_direita").dropna()
  
  if(len(join_notas1_2) < minimo):
    return None
  
  similaridade =  similaridade_cosseno_scipy(join_notas1_2['rating_esquerda'], join_notas1_2['rating_direita'])
  return [usuario_id1, usuario_id2, similaridade]

In [9]:
similaridade_de_usuarios(1,5)

[1, 5, 0.9326135855945642]

In [10]:
# Calcula a similaridade entre um user_id e todos os restantes do dataset

def similardade_de_todos(input_id, numero_de_usuarios_a_analisar = None):
  todos_os_usuarios = data['user_id'].unique()
  if numero_de_usuarios_a_analisar:
    todos_os_usuarios = todos_os_usuarios[:numero_de_usuarios_a_analisar]
  similaridades = [similaridade_de_usuarios(input_id, usuario_id) for usuario_id in todos_os_usuarios]
  similaridades = list(filter(None, similaridades))
  similaridades = pd.DataFrame(similaridades, columns = ["input_id", "usuario_id", "similaridades"])
  return similaridades

similardade_de_todos(1).head()

   input_id  usuario_id  similaridades
0         1         196       0.887837
1         1         186       0.867442
2         1          22       0.967375
3         1         244       0.955774
4         1         298       0.943073

In [11]:
# Apresenta os ids dos usuarios relacionados com o input_id e o valor da similaridades
# Sugerindo baseado em vários usuários
# parametro k_mais_proximos, pega os 10 usuarios mais similares ao input_id
# numero_de_usuarios_a_analisar é a quantidade de usuarios que será analisado (caso dataset seja muito grande)

def knn(input_id, k_mais_proximos=10, numero_de_usuarios_a_analisar = None):
  similaridades = similardade_de_todos(input_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  similaridades = similaridades.sort_values("similaridades")
  similaridades = similaridades.set_index("usuario_id").drop(input_id)
  return similaridades.head(k_mais_proximos)

knn(1).head()

            input_id  similaridades
usuario_id
589                1       0.638755
35                 1       0.668503
502                1       0.703000
451                1       0.716028
335                1       0.752164

In [12]:
# apaga a coluna do genero dos quais os filmes não fazem parte

def apaga_genero(dataframe):
    drops = []
    for item in dataframe.columns:
        if dataframe[item].sum() == 0:
            drops.append(item)
    dataframe.drop(columns = drops, inplace=True)
    return dataframe

In [13]:
# Sugere filmes com base no id dos usuarios

def sugere_para(input_id, k_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  notas_input_id = notas_do_usuario(input_id)
  filmes_inpud_id_ja_viu = notas_input_id.index

  similares = knn(input_id, k_mais_proximos = k_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index
  notas_dos_similares = data.set_index("user_id").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("movie_id").mean()[["rating"]]
  recomendacoes = recomendacoes.sort_values("rating", ascending=False)
  return apaga_genero(recomendacoes.join(info_data.set_index('movie_id')))

In [14]:
sugere_para(1)

,rating,movie_title,release_date,Action,Adventure,Animation,Childrens,Comedy,Crime,Documentary,Drama,Fantasy,Film_Noir,Horror,Musical,Mystery,Romance,Sci_Fi,Thriller,War
movie_id,,,,,,,,,,,,,,,,,,,,
1617,5.0,Hugo Pool (1997),01-Jan-1997,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
778,5.0,Don Juan DeMarco (1995),01-Jan-1995,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0
331,5.0,"Edge, The (1997)",26-Sep-1997,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
309,5.0,Deceiver (1997),01-Jan-1997,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
873,5.0,Picture Perfect (1997),01-Aug-1997,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681,1.0,Wishmaster (1997),01-Jan-1997,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1038,1.0,Switchback (1997),01-Jan-1997,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1026,1.0,"Lay of the Land, The (1997)",01-Jan-1997,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
988,1.0,"Beautician and the Beast, The (1997)",07-Feb-1997,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
884,1.0,Year of the Horse (1997),01-Jan-1997,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [15]:
# Fazendo tudo dentro de uma classe

class recomend_based_user():
    """
    Sistema de Recomendações, usando a técnica de Filtros Colaborativos baseados no usuário
    """
    def __init__(self, dataframe_1, dataframe_2):
        self.dataset_1 = dataframe_1
        self.dataset_2 = dataframe_2
    
    def similaridade_cosseno_scipy(self, list1, list2):
        result = 1 - spatial.distance.cosine(list1, list2)
        return result

    def notas_do_usuario(self, usuario):
        notas_do_usuario = self.dataset_1.query("user_id==%d" % usuario)
        notas_do_usuario = notas_do_usuario[["movie_id", "rating"]].set_index("movie_id")
        return notas_do_usuario
    
    def similaridade_de_usuarios(self, usuario_id1, usuario_id2, minimo = 5):
        notas1 = notas_do_usuario(usuario_id1)
        notas2 = notas_do_usuario(usuario_id2)
        join_notas1_2 = notas1.join(notas2, lsuffix="_esquerda", rsuffix="_direita").dropna()
  
        if(len(join_notas1_2) < minimo):
            return None
  
        similaridade =  similaridade_cosseno_scipy(join_notas1_2['rating_esquerda'], join_notas1_2['rating_direita'])
        return [usuario_id1, usuario_id2, similaridade]
    
    def similardade_de_todos(self, input_id, numero_de_usuarios_a_analisar = None):
        todos_os_usuarios = self.dataset_1['user_id'].unique()
        if numero_de_usuarios_a_analisar:
            todos_os_usuarios = todos_os_usuarios[:numero_de_usuarios_a_analisar]
        similaridades = [similaridade_de_usuarios(input_id, usuario_id) for usuario_id in todos_os_usuarios]
        similaridades = list(filter(None, similaridades))
        similaridades = pd.DataFrame(similaridades, columns = ["input_id", "usuario_id", "similaridades"])
        return similaridades
    
    def knn(self, input_id, k_mais_proximos=10, numero_de_usuarios_a_analisar = None):
        similaridades = similardade_de_todos(input_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
        similaridades = similaridades.sort_values("similaridades")
        similaridades = similaridades.set_index("usuario_id").drop(input_id)
        return similaridades.head(k_mais_proximos)
    
    def apaga_genero(self, dataframe):
        drops = []
        for item in dataframe.columns:
            if dataframe[item].sum() == 0:
                drops.append(item)
        dataframe.drop(columns = drops, inplace=True)
        return dataframe
    
    def sugere_para(self, input_id, k_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
        notas_input_id = notas_do_usuario(input_id)
        filmes_inpud_id_ja_viu = notas_input_id.index
        similares = knn(input_id, k_mais_proximos = k_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
        usuarios_similares = similares.index
        notas_dos_similares = self.dataset_1.set_index("user_id").loc[usuarios_similares]
        recomendacoes = notas_dos_similares.groupby("movie_id").mean()[["rating"]]
        recomendacoes = recomendacoes.sort_values("rating", ascending=False)
        return apaga_genero(recomendacoes.join(self.dataset_2.set_index('movie_id')))

In [16]:
rec = recomend_based_user(data, info_data)

In [17]:
rec.sugere_para(1)

,rating,movie_title,release_date,Action,Adventure,Animation,Childrens,Comedy,Crime,Documentary,Drama,Fantasy,Film_Noir,Horror,Musical,Mystery,Romance,Sci_Fi,Thriller,War
movie_id,,,,,,,,,,,,,,,,,,,,
1617,5.0,Hugo Pool (1997),01-Jan-1997,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
778,5.0,Don Juan DeMarco (1995),01-Jan-1995,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0
331,5.0,"Edge, The (1997)",26-Sep-1997,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
309,5.0,Deceiver (1997),01-Jan-1997,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
873,5.0,Picture Perfect (1997),01-Aug-1997,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681,1.0,Wishmaster (1997),01-Jan-1997,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1038,1.0,Switchback (1997),01-Jan-1997,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1026,1.0,"Lay of the Land, The (1997)",01-Jan-1997,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
988,1.0,"Beautician and the Beast, The (1997)",07-Feb-1997,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
884,1.0,Year of the Horse (1997),01-Jan-1997,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

### 3. Implementar um Sistema de Recomendações, usando a técnica de Filtros Colaborativos baseados na similaridade entre os itens (filmes);

In [22]:
# Para tal tecnica assumimos que rating = 0 significa que o usario não avaliou aquele filme (NaN = 0)
# Sistema de recomendação utilizando a decomposição de valores singulares (SVD)

from numpy.linalg import svd

matrix_1 = data.pivot(index = "user_id",
                   columns = "movie_id",
                   values = "rating").fillna(0)
matrix = matrix_1.values
u, s, vh = svd(matrix, full_matrices=False)

In [23]:
u

array([[-6.58043056e-02,  5.97506439e-03, -6.13255533e-03, ...,
         1.02599859e-03, -3.98164955e-03,  9.01590568e-04],
       [-1.40210432e-02, -4.66260235e-02,  5.25785570e-02, ...,
         1.08597866e-02, -2.04456480e-03, -1.27743484e-03],
       [-5.65798108e-03, -2.56184475e-02,  2.33618292e-02, ...,
         5.16234564e-03,  1.34125699e-02,  1.37991290e-03],
       ...,
       [-7.44452122e-03, -2.50212869e-02,  6.16532475e-03, ...,
         2.63658734e-02,  3.18613301e-03,  6.76975924e-03],
       [-2.40311860e-02,  8.09611360e-03,  2.28873569e-02, ...,
        -4.44753529e-03, -2.58792477e-03, -5.73382835e-03],
       [-4.22420915e-02, -1.09271486e-02, -5.85460445e-02, ...,
         6.50642742e-04, -4.15913263e-03, -6.67710004e-05]])

In [24]:
s

array([640.63362257, 244.83634567, 217.84622472, 159.15359872,
       158.21191449, 145.87261327, 126.57977314, 121.90769976,
       106.8291837 ,  99.74793974,  93.79885965,  93.25844284,
        89.91150168,  84.34178722,  83.81220836,  81.81204105,
        79.07796788,  77.88652669,  76.387996  ,  75.3415951 ,
        73.68235502,  72.80837191,  72.51350545,  71.52749477,
        69.77179735,  69.10881715,  68.8735702 ,  67.94277928,
        67.40829434,  67.06352378,  66.85757418,  65.59270059,
        65.27526042,  64.79965625,  64.44727664,  64.09819141,
        63.91638042,  63.08261122,  62.67586971,  62.23742793,
        62.03574728,  61.77291401,  61.33544177,  61.0632462 ,
        60.56817026,  60.30813928,  59.77166759,  59.51420996,
        59.40675   ,  59.10683763,  58.83667955,  58.53445585,
        58.33802154,  58.1323194 ,  57.41759146,  57.36384311,
        57.30977341,  56.99448748,  56.72636608,  56.239748  ,
        56.17894513,  55.8734678 ,  55.65459359,  55.52806678,
        55.43375993,  55.27561765,  55.14548051,  54.98490817,
        54.63212706,  54.45193672,  54.29005995,  54.01215018,
        53.67085648,  53.43798888,  53.28922052,  53.14066852,
        53.10828717,  52.47629267,  52.36454294,  52.12939421,
        52.03388143,  51.884001  ,  51.77919228,  51.51949717,
        51.49442535,  51.2088558 ,  50.98724031,  50.94523431,
        50.60038346,  50.56218444,  50.38096012,  50.24905972,
        50.0075852 ,  49.98820164,  49.58184826,  49.46698101,
        49.37750227,  49.26905278,  49.05980651,  48.95598046,
        48.73864248,  48.58766248,  48.47973017,  48.37741946,
        48.15394586,  48.0677836 ,  47.75996437,  47.46285726,
        47.29469417,  47.16545339,  47.0120192 ,  46.92778602,
        46.81663127,  46.80792506,  46.57054499,  46.36360148,
        46.234346  ,  46.06920463,  45.94993855,  45.8465522 ,
        45.64930074,  45.58376568,  45.51449116,  45.23500555,
        45.193367  ,  45.0259966 ,  44.81923737,  44.61901625,
        44.55266828,  44.26345327,  44.2281026 ,  44.12002977,
        44.04185395,  43.92249088,  43.70643086,  43.46264155,
        43.41113197,  43.30866294,  43.18333029,  42.90679285,
        42.81874398,  42.76083728,  42.67214215,  42.66639065,
        42.42004077,  42.21347424,  42.17252098,  42.01444026,
        41.92915185,  41.75732136,  41.54243564,  41.38737569,
        41.24503863,  41.14118681,  41.06222267,  40.93112231,
        40.79431012,  40.68728985,  40.62458749,  40.5355834 ,
        40.46789029,  40.43495829,  40.18134408,  39.96144252,
        39.88603128,  39.85469744,  39.71629242,  39.61350954,
        39.55844111,  39.45059058,  39.36901842,  39.29731992,
        39.08049644,  39.00068725,  38.87717922,  38.76443542,
        38.69300514,  38.49197454,  38.29875302,  38.2295438 ,
        38.20200371,  38.04062639,  37.98567822,  37.79639662,
        37.69119613,  37.65912518,  37.43412368,  37.37183267,
        37.24695778,  37.17562544,  37.06973321,  36.99579956,
        36.86176606,  36.60418275,  36.54482124,  36.51069682,
        36.37602783,  36.28942284,  36.19896141,  36.14966514,
        36.0195911 ,  35.86685331,  35.80047839,  35.58582071,
        35.50131745,  35.39966081,  35.31413996,  35.16297395,
        35.12206623,  35.0293682 ,  34.92618879,  34.83645218,
        34.74870882,  34.56715182,  34.46826839,  34.35656323,
        34.31454169,  34.19188309,  34.13745828,  33.97983923,
        33.95032005,  33.85504342,  33.80476488,  33.65091156,
        33.56782848,  33.47451244,  33.45777751,  33.23104015,
        33.21632163,  33.10805589,  32.96652158,  32.90277383,
        32.80222349,  32.73727372,  32.61340972,  32.47209522,
        32.36199179,  32.27083184,  32.23208823,  32.04741273,
        32.0133226 ,  31.98127519,  31.84249138,  31.75346623,
        31.69558397,  31.55158681,  31.54264271,  31.46544043,
        31.40719933,  31.34838912,  31.22501826,  31.17479956,
        31.07462435,  30.98626538,  30.85258282,  30.76819776,
        30.66966849,  30.55534584,  30.39521622,  30.2688682 ,
        30.20379674,  30.17789017,  30.06179315,  30.02649963,
        29.89115458,  29.75911854,  29.6886983 ,  29.65205276,
        29.57363261,  29.48550453,  29.35508324,  29.29344585,
        29.26102237,  29.18103918,  29.11116115,  29.07166993,
        28.88168442,  28.78836405,  28.69938278,  28.65925383,
        28.5801334 ,  28.50233475,  28.4316208 ,  28.3988056 ,
        28.344289  ,  28.27129924,  28.1649344 ,  28.02891204,
        28.01098356,  27.95214859,  27.89063118,  27.81887974,
        27.70486323,  27.56984489,  27.52363189,  27.45327435,
        27.37554002,  27.3033821 ,  27.17403396,  27.10273202,
        27.00351207,  26.98164029,  26.92812578,  26.86380024,
        26.77542871,  26.64330871,  26.57986122,  26.50312147,
        26.47835341,  26.35955465,  26.24273897,  26.15220939,
        26.13877889,  26.03958905,  26.02487809,  25.93100402,
        25.76975955,  25.72008748,  25.66619331,  25.6292937 ,
        25.56815546,  25.50158477,  25.43270457,  25.36179459,
        25.32228233,  25.23580855,  25.12135952,  25.1056309 ,
        25.00201524,  24.93082741,  24.83440959,  24.76067427,
        24.73382195,  24.6978669 ,  24.61220857,  24.52805568,
        24.40259869,  24.39965581,  24.31619207,  24.26077745,
        24.18077999,  24.0585164 ,  23.98990561,  23.90601653,
        23.82330558,  23.70670897,  23.63499915,  23.6215132 ,
        23.59127136,  23.52760133,  23.44137806,  23.34885949,
        23.33543148,  23.30024708,  23.03966393,  23.02943565,
        22.9270182 ,  22.85919275,  22.79688968,  22.74934687,
        22.71438322,  22.61995127,  22.50427919,  22.4771171 ,
        22.37418403,  22.32768453,  22.2882165 ,  22.25214867,
        22.15458253,  22.11327024,  22.04404498,  21.98279668,
        21.92253644,  21.88286638,  21.8369471 ,  21.78476503,
        21.70157589,  21.66688169,  21.62530961,  21.54671051,
        21.47471899,  21.45995354,  21.3574747 ,  21.31930341,
        21.28288332,  21.1534938 ,  21.07919245,  20.98916565,
        20.88067829,  20.86933066,  20.84765644,  20.77968297,
        20.67176574,  20.65578476,  20.53239359,  20.52229107,
        20.46295286,  20.41326411,  20.33463683,  20.31845764,
        20.27251436,  20.23914453,  20.15418308,  20.13252009,
        20.09639476,  19.98420326,  19.87298541,  19.77444919,
        19.70423555,  19.66704358,  19.60671988,  19.57072558,
        19.48150266,  19.38155654,  19.35389799,  19.32624938,
        19.24795385,  19.20707002,  19.17007176,  19.09990764,
        19.02555515,  18.99090884,  18.92883588,  18.81955628,
        18.79751037,  18.68930651,  18.68168412,  18.62207406,
        18.60707755,  18.53081987,  18.48142791,  18.40153196,
        18.3759208 ,  18.28097434,  18.24743013,  18.19237089,
        18.11506235,  18.0713151 ,  18.04004017,  17.97201602,
        17.95519182,  17.90530999,  17.78028665,  17.74371018,
        17.6975917 ,  17.67567436,  17.55622578,  17.52540725,
        17.49858849,  17.41722362,  17.38678014,  17.34732082,
        17.30884289,  17.20860744,  17.13137276,  17.09651829,
        17.04971158,  16.99118145,  16.90715879,  16.862245  ,
        16.83821165,  16.79944184,  16.75527582,  16.60222236,
        16.54542696,  16.51929856,  16.4646038 ,  16.41280177,
        16.40337658,  16.37704249,  16.33078663,  16.24018259,
        16.1766756 ,  16.13122294,  16.10951764,  16.07942618,
        16.03558775,  15.97855526,  15.9152821 ,  15.8106088 ,
        15.77336181,  15.70581554,  15.64723532,  15.58440838,
        15.53062708,  15.47634288,  15.45301649,  15.4312888 ,
        15.38459866,  15.31037067,  15.27331351,  15.18151071,
        15.12444688,  15.0826597 ,  15.05415634,  14.99710088,
        14.98173092,  14.9156725 ,  14.86453957,  14.82995205,
        14.78325573,  14.7542097 ,  14.69077292,  14.61499973,
        14.56200866,  14.5261495 ,  14.49477307,  14.44885764,
        14.42724676,  14.35027015,  14.32785283,  14.23565589,
        14.1734592 ,  14.1523191 ,  14.10109203,  14.0352469 ,
        14.01240149,  13.97610344,  13.94327278,  13.83312619,
        13.80523574,  13.76914278,  13.73622543,  13.72520747,
        13.6778234 ,  13.64516568,  13.6324305 ,  13.61330052,
        13.52467646,  13.46156414,  13.44267289,  13.35373266,
        13.32954467,  13.28907317,  13.25544377,  13.21288195,
        13.14829722,  13.11538284,  13.10415296,  13.01925887,
        12.97221323,  12.96785075,  12.89642468,  12.89235811,
        12.83455033,  12.79935965,  12.7849174 ,  12.7001312 ,
        12.64766434,  12.62783576,  12.59217858,  12.5475591 ,
        12.49931942,  12.46842444,  12.42397512,  12.33332806,
        12.27342037,  12.22297963,  12.18377976,  12.16545164,
        12.10722395,  12.07435054,  12.03258627,  12.01754505,
        11.95474061,  11.94871451,  11.87645049,  11.82918562,
        11.78577651,  11.73681992,  11.70520928,  11.66799218,
        11.62651068,  11.58390668,  11.5512949 ,  11.52855496,
        11.48795016,  11.42283547,  11.39278949,  11.34131314,
        11.28863543,  11.26352126,  11.25880429,  11.21444931,
        11.2011526 ,  11.12372409,  11.08996433,  11.04477724,
        11.00743455,  10.92782421,  10.90717589,  10.88528109,
        10.8706319 ,  10.85681944,  10.7919458 ,  10.76927401,
        10.71043457,  10.6530698 ,  10.6008484 ,  10.56865572,
        10.53258924,  10.49546881,  10.46325965,  10.43479017,
        10.38294418,  10.36288254,  10.27152662,  10.26078401,
        10.22418064,  10.18826735,  10.12308862,  10.10712382,
        10.06194126,  10.01186393,   9.98868206,   9.95420166,
         9.91228992,   9.84477011,   9.81995584,   9.80042093,
         9.7678743 ,   9.72912037,   9.7109112 ,   9.6894431 ,
         9.64686678,   9.60793385,   9.55314373,   9.52706158,
         9.50323455,   9.47117983,   9.42642816,   9.3958873 ,
         9.37755211,   9.35141853,   9.32687469,   9.27516368,
         9.21228723,   9.16752748,   9.11871439,   9.08209861,
         9.05083607,   9.04419113,   9.03648025,   8.96472182,
         8.9451665 ,   8.89627362,   8.8465928 ,   8.83597914,
         8.80877497,   8.79629629,   8.73425292,   8.71182058,
         8.69156896,   8.66477814,   8.60364663,   8.58669193,
         8.54565558,   8.51520326,   8.47514798,   8.44810183,
         8.40872248,   8.39244842,   8.34770866,   8.32746287,
         8.26837366,   8.2536772 ,   8.23021381,   8.12219703,
         8.11494093,   8.08860437,   8.05039141,   8.00843856,
         7.97969271,   7.9622369 ,   7.93726349,   7.92232786,
         7.88673317,   7.87491666,   7.85855091,   7.79684975,
         7.76358778,   7.72886111,   7.69064952,   7.65115234,
         7.61855572,   7.59393727,   7.55820558,   7.54372452,
         7.48985596,   7.4675218 ,   7.43377422,   7.42733584,
         7.38268727,   7.36780234,   7.32650972,   7.29544176,
         7.25886699,   7.22192696,   7.21116707,   7.1807936 ,
         7.11503299,   7.10086267,   7.06611818,   7.04883266,
         7.01860772,   6.98237541,   6.9326794 ,   6.90823998,
         6.90400323,   6.872771  ,   6.83233792,   6.79895087,
         6.7944757 ,   6.73480701,   6.70054513,   6.67829063,
         6.62943322,   6.61051769,   6.60052308,   6.56700465,
         6.51842375,   6.48117696,   6.47164604,   6.44425732,
         6.42000882,   6.38263359,   6.36064219,   6.32672688,
         6.30451695,   6.2802997 ,   6.24170573,   6.20719962,
         6.19023877,   6.15491248,   6.12650671,   6.09351614,
         6.08332865,   6.06389367,   6.01019187,   5.99091426,
         5.96198456,   5.92971232,   5.91181656,   5.88986406,
         5.8463649 ,   5.81779498,   5.77827746,   5.76164747,
         5.74401653,   5.70927495,   5.68532839,   5.62334668,
         5.59941366,   5.57493017,   5.53941078,   5.52851711,
         5.48667774,   5.46782763,   5.46098643,   5.39736922,
         5.38261573,   5.36704761,   5.3322667 ,   5.32089731,
         5.29411155,   5.25816501,   5.2547038 ,   5.23071993,
         5.18748254,   5.17256996,   5.15791865,   5.11604355,
         5.09269549,   5.05016223,   5.04174242,   4.98752207,
         4.9804114 ,   4.95304219,   4.92494411,   4.91033031,
         4.89295092,   4.84955134,   4.81704457,   4.80535376,
         4.73437259,   4.69988149,   4.68779782,   4.66027444,
         4.62913327,   4.60608977,   4.5722872 ,   4.55812082,
         4.52849415,   4.51723033,   4.47402246,   4.45706735,
         4.43296618,   4.41437253,   4.3984772 ,   4.36594992,
         4.3461467 ,   4.33888881,   4.3056975 ,   4.27612408,
         4.22752605,   4.21534325,   4.18187564,   4.17044828,
         4.16733753,   4.14762932,   4.10234642,   4.0868044 ,
         4.06784633,   4.03770873,   4.0084511 ,   3.99530346,
         3.95590235,   3.94799567,   3.913507  ,   3.89508172,
         3.84796136,   3.81711584,   3.80175875,   3.79247101,
         3.76946523,   3.71833567,   3.70628057,   3.68817213,
         3.65667646,   3.65041226,   3.62914385,   3.60200786,
         3.56389836,   3.54389058,   3.51866713,   3.51627279,
         3.46724629,   3.45752153,   3.42124222,   3.39344527,
         3.38031721,   3.34030542,   3.32082434,   3.28237114,
         3.27547053,   3.25137944,   3.2321726 ,   3.18963242,
         3.16481942,   3.14737113,   3.12312601,   3.10925751,
         3.07464151,   3.03614492,   3.01292511,   2.99359467,
         2.96383899,   2.9527102 ,   2.92814247,   2.88215557,
         2.86140902,   2.82427312,   2.81934758,   2.77750731,
         2.75334782,   2.74440535,   2.71854548,   2.68738248,
         2.68620807,   2.64773446,   2.63669405,   2.62002126,
         2.61131848,   2.57567591,   2.53721214,   2.52114155,
         2.49621721,   2.47923939,   2.43157626,   2.40399837,
         2.3942159 ,   2.35576584,   2.3328496 ,   2.31571249,
         2.26544737,   2.23579465,   2.22273817,   2.19933501,
         2.17247762,   2.16119531,   2.11011654,   2.08333971,
         2.08155444,   2.03648725,   2.02695529,   1.99558883,
         1.97431524,   1.95526271,   1.93211005,   1.91665931,
         1.88027067,   1.85863356,   1.8454929 ,   1.81585853,
         1.79188109,   1.74107904,   1.72824695,   1.71045537,
         1.67605775,   1.64964272,   1.63014779,   1.62701515,
         1.58705058,   1.55906887,   1.55587662,   1.51564512,
         1.49884162,   1.44124934,   1.42975996,   1.40641277,
         1.36103093,   1.33288669,   1.31923963,   1.27959234,
         1.23912968,   1.18889095,   1.15338802,   1.14498161,
         1.11800052,   1.06349533,   1.02581757,   1.00230271,
         0.96854526,   0.93487067,   0.918968  ,   0.87172097,
         0.83973733,   0.80144319,   0.77809033,   0.75201176,
         0.69874606,   0.67513184,   0.64335756])

In [25]:
vh

array([[-9.59509371e-02, -3.51795155e-02, -1.99288117e-02, ...,
        -3.03747116e-05, -3.31055915e-04, -3.16852950e-04],
       [-8.72397853e-02, -7.02505798e-03, -2.86181725e-02, ...,
        -4.48134760e-04,  1.05231342e-04,  2.03151884e-04],
       [-1.69737618e-02, -6.25039193e-02, -1.16405039e-02, ...,
         5.33024145e-04, -4.54336533e-04, -2.61400068e-04],
       ...,
       [-1.26681796e-02, -3.34473768e-02,  7.28086206e-03, ...,
        -1.35217677e-02,  1.84916008e-03,  8.40358953e-04],
       [ 1.77118452e-02,  3.40698283e-02,  2.78896152e-02, ...,
         2.32835943e-02, -6.62201648e-03, -1.91406048e-03],
       [-1.05201630e-02,  1.58290193e-02,  2.53698839e-02, ...,
        -4.41196791e-02, -1.05796040e-02, -1.52428879e-02]])

In [40]:
def similaridade_item(movie_id):
    lista_similarity = []
    sim_col = []
    for col in range(1,vh.shape[1]):
        similarity = similaridade_cosseno_scipy(vh[:,(movie_id-1)], vh[:,col])
        lista_similarity.append(similarity)
        sim_col.append(col)
    d = {'movie_id': sim_col, 'similarity': lista_similarity}
    df = pd.DataFrame(data=d)
    result = df.set_index('movie_id').sort_values("similarity", ascending=False)
    return result.join(info_data.set_index('movie_id')).drop(['similarity'], axis = 1)

In [41]:
similaridade_item(1).head()

,movie_title,release_date,unknown,Action,Adventure,Animation,Childrens,Comedy,Crime,Documentary,...,Fantasy,Film_Noir,Horror,Musical,Mystery,Romance,Sci_Fi,Thriller,War,Western
movie_id,,,,,,,,,,,,,,,,,,,,,
1615,Warriors of Virtue (1997),02-May-1997,0,1,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1241,"Van, The (1996)",27-Jun-1997,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
972,Passion Fish (1992),01-Jan-1992,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1653,Entertaining Angels: The Dorothy Day Story (1996),27-Sep-1996,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1310,"Walk in the Sun, A (1945)",01-Jan-1945,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 4. Implementar a Medida de Correlação de Pearson como medida de similaridade;

$$ corr = \frac{1}{(n-1)} \cdot \sum \left( \frac{x_i - \bar{x}}{s_x} \right) \left(\frac{y_i - \bar{y}}{s_y} \right) $$

In [42]:
def corr_p(x, y):
    n = len(x)
    x_m = x - np.mean(x)
    x_m = x_m / np.std(x, ddof=1)
    y_m = y - np.mean(y)
    y_m = y_m / np.std(y, ddof=1)
    return (x_m * y_m).sum() / (n - 1)